init.cshrc
init.sh
save
*.txt
_build
logs
temp
build
__pycache__
.scannerwork
.settings
.cache
.coverage
.directory
.externalNativeBuild
.idea
.htaccess
.gradle
*.bak
*.bkp
*.gif
*.h5
*.iml
*.json
*.log
*.mp4
*.pdf
*.pkl
*.png
*.prof
*.pyd
*.pyc
*.swp
*.tar.gz
*.tgz
*.xls
*.xlsx
*.xml
*.xml
